# Database Connection (SQLite for zero-config local dev & testing)
DATABASE_URL="file:./dev.db"

# Admin WhatsApp Configuration (Nomor WA Admin penerima pesanan)
NEXT_PUBLIC_ADMIN_WHATSAPP="6281111090906"

# Application URL
NEXT_PUBLIC_APP_URL="http://localhost:3001"
